body{ height: 100vh;justify-content: center;}

#header{	
		background: white;
		width: 60%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	  }
#header #logo{margin: 0px 20px 0px 20px;	}

#header #logo h1{
					text-align: center;
					font-family: forte;
					    font-size: 40px;
				}

#header #nav{
				background: black;
				height: 50px;
				border-radius: 50px;
				margin: 0px 20px 0px 20px;
			}
#header #nav a{
				text-decoration: none;
				color: white;
  			}

#header #nav ul{text-align: center;}

#header #nav li{
				color: white;
				list-style: none;
				display: inline;
				margin: 10px;
				}

#main {
		display: flex;
		margin: auto;
		width: 60%;
		justify-content: center;
		margin: auto;
	}

#main #D{
		height: 320px;
		margin: 10px;
			}
#main #D li{
			list-style: none;
			margin-bottom: 2px;
			line-height: 30px;
			padding: 5px 10px 5px 10px;
			}

#main #D label{
			 	width: 100px;
			    font-size: 20px;
			    float: left;
			 }
#main #D input,#main #D textarea{
				
				font-size: 13px;
				font-family: Geaorgia,Times New Roman, Times, serif;
				padding: 5px;
				width: 200px;
				}
#main #D input[type=submit]{
					background-color: black;
					border-radius: 20px;
					color: white;
					font-size: 18px;
					margin: auto;
					display: block;
					width: 100px;
}

#main #D input[type=submit]:hover{cursor: pointer; background-color: #1E2506;}

/*#main #D button{
					background-color: black;
					border-radius: 20px;
					color: white;
					font-size: 18px;
					margin: auto;
					display: block;
					width: 100px;
}

#main #D button:hover{cursor: pointer; background-color: #1E2506;}

#main #D a{color: white;text-decoration: none;}*/

#footer{
		background: black;
		height: 155px;
		width: 60%;
	    margin: 20px 20px 0px 20px;
	    display: flex;
	    flex-direction: row;
	    margin: auto;
	    border-radius: 20px;
	    color: white;
	    align-items: center;
		}
#footer #logo{flex-direction: column;align-items: center;display: flex;}
#footer #logo h1{
					text-align: center;
					font-family: forte;
					color: white;
					margin: 15px;
				}
#footer #logo img{
					
					width: 80px;
				}

#footer p{
			margin: 20px;
}
@media all and (max-width: 1024px){
									#D #D1{	margin: 10px 10px 0px 10px;	}

									#D2 {
											display: flex;
											flex-direction: column;
											align-items: center;
										}
									#D2 #D3 {width: 100%;}
									#D2 #D4 {width: 100%;}
									
									}