 *,::after,::before{padding: 0;margin: 0;}
 
 ::-webkit-scrollbar {width: 15px;}
 ::-webkit-scrollbar-thumb {
								background-color: black;
								border-radius: 20px;
								border: 4px solid white;
							  }
 body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 100px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #ffffffc4;
    position: absolute;
}

header .logo {
    width: 50px;
    height: 80px;
    position: absolute;
    left: 10px;
}
header nav{
    
    width: 60%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
header nav a{
    text-decoration: none;
    font-size: xx-large;
    color: black;
    display: inline-block;
    width: 250px;
    text-align: center;
}

.fond{
    background: url(../img/graphicDesignDesk.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    z-index: -1;
    filter: grayscale(1);
    border-bottom: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titre{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}


.titre h1{
        text-align: center;
        font-family: forte;
        font-size: 50px;
        }
.titre h2{
        text-align: center;
        font-family: Time;
        }
.titre h3{
        text-align: center;
        font-family: Time;
        
        }
.titre hr{
            width: 260px;
            background-color: white;
            border: 1px solid black;
            margin-top: -20px;
        }

#portfolio{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 245vh;
    justify-content: space-around;
    align-items: center;
}

/* .D1{
    display: flex;
    flex-direction: row;
    height: 532px;
    align-items: center;
}
.D2{
    display: flex;
    flex-direction: row;
    height: 532px;
    align-items: center;
} */

.slider div p{color:#1c1c1c;position:absolute;bottom:-65px; font-family:font; font-size:22px;}

.slider{
    
    height: 300px;
    width: 240px;
    margin: 35px 200px;
    perspective: 1000px;
    transition: ease-in-out .2s;
}

/* .slid img {  } */


.slid{

-webkit-user-select:none;
user-select:none;
-moz-user-select:none;
position:absolute;
height:280px;
width:240px;
box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
background:#fcfcfc;
-webkit-transform-style:preserve-3d;
transform-style:preserve-3d;
-moz-transform-style:preserve-3d;
text-align:center;
/*overflow:hidden;*/
border:12px white solid;
box-sizing:border-box;
border-bottom:55px white solid;
border-radius:5px;
display: flex;
justify-content: center;
align-items: center;
}

.transition {
    -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
    -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
    transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}



  #slide {
    height: 30%;
    width: 100%;
    left: 38%;
    margin-top:45px;
    position: relative;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  
  input[type=radio] {display: none;}
  
  
  
  #slide label, #slide label img {
    position: absolute;
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 400ms ease;
  }
  
  
  
  /* Slider Functionality */
  
  /* Active Slide */
    #s1:checked ~ #slide1,
    #s2:checked ~ #slide2,
    #s3:checked ~ #slide3,
    #s4:checked ~ #slide4,
    #s5:checked ~ #slide5,
    #s6:checked ~ #slide6,
    #s7:checked ~ #slide7 
    {
        transform: translate3d(0%, 0, 0px);
    }
  
  /* Next Slide */
    #s1:checked ~ #slide2,
    #s2:checked ~ #slide3,
    #s3:checked ~ #slide4,
    #s4:checked ~ #slide5,
    #s5:checked ~ #slide6,
    #s6:checked ~ #slide7,
    #s7:checked ~ #slide1 
    {
        transform: translate3d(10%, 0, -100px);
    }
  
  
  /* Next to Next Slide */
    #s1:checked ~ #slide3,
    #s2:checked ~ #slide4,
    #s3:checked ~ #slide5,
    #s4:checked ~ #slide6,
    #s5:checked ~ #slide7,
    #s6:checked ~ #slide1,
    #s7:checked ~ #slide2
       {
   
    transform: translate3d(20%, 0, -200px);
  }
  
  /* Previous to Previous Slide */
    #s1:checked ~ #slide4,
    #s2:checked ~ #slide5,
    #s3:checked ~ #slide6,
    #s4:checked ~ #slide7,
    #s5:checked ~ #slide1,
    #s6:checked ~ #slide2,
    #s7:checked ~ #slide3 
      {
   
    transform: translate3d(30%, 0, -250px);
  }
  
  /* Previous Slide */
    #s1:checked ~ #slide5,
    #s2:checked ~ #slide6,
    #s3:checked ~ #slide7,
    #s4:checked ~ #slide1,
    #s5:checked ~ #slide2,
    #s6:checked ~ #slide3,
    #s7:checked ~ #slide4  
    {
       transform: translate3d(-55%, 0, -250px);
  }

    #s1:checked ~ #slide6,
    #s2:checked ~ #slide7,
    #s3:checked ~ #slide1,
    #s4:checked ~ #slide2,
    #s5:checked ~ #slide3,
    #s6:checked ~ #slide4,
    #s7:checked ~ #slide5 
{
      transform: translate3d(-40%, 0, -199px);
 }

    #s1:checked ~ #slide7,
    #s2:checked ~ #slide1,
    #s3:checked ~ #slide2,
    #s4:checked ~ #slide3,
    #s5:checked ~ #slide4,
    #s6:checked ~ #slide5,
    #s7:checked ~ #slide6 
{
    transform: translate3d(-20%, 0, -99px);
}

.CG img{
    width: 300px;
    height: 300px;
    background-size: cover;
    
}

:root {
    --perspective: 1800px;
   --transition: transform 1s .2s, z-index 0s 0.5s;
   }
 
   .pages_page {
   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
   transform-origin: 0 50%;
   }
 
   
 
   .pages {
   width: 700px;
   height: 495px;
   
   right: 0;
   perspective: var(--perspective);
   box-shadow: 0 41px 38px -20px #0a3150;
   }
   .pages input {
   display: none;
   }
   .pages_page {
   pointer-events: none;
   float: right;
   transform-style: preserve-3d;
   }
   .pages_page:nth-of-type(1) {
   z-index: 7;
   transition: var(--transition);
   }
   .pages_page:nth-of-type(2) {
   z-index: 6;
   transition: var(--transition);
   }
   .pages_page:nth-of-type(3) {
   z-index: 5;
   transition: var(--transition);
   }
   .pages_page:nth-of-type(4) {
   z-index: 4;
   transition: var(--transition);
   }
 
   .pages_page:nth-of-type(1) {
   left: 0;
   z-index: 0;
   transform: rotateY(0deg) !important;
   pointer-events: none;
   }
   .pages_page:nth-of-type(1) .pages_page__inner {
   transform: rotateY(0deg) !important;
   }
   .pages_page:nth-of-type(2) {
   pointer-events: all;
   }
   .pages_page:nth-of-type(odd) .pages_page__inner {
   transform: rotateY(180deg);
   }
   .pages_page:nth-of-type(1) .pages_page__inner {
   background-size: 350px !important;
   background-position: center !important;
   background: url("../img/mag1.jpg");
   }
   .pages_page:nth-of-type(2) .pages_page__inner {
   background-size: 350px !important;
   background-position: center !important;
   background: url("../img/mag2.jpg");
   }
   .pages_page:nth-of-type(3) .pages_page__inner {
   background: url("../img/mag3.jpg");
   background-position: 0 0;
   }
 
   .pages_page:nth-of-type(4) .pages_page__inner .bg {
   clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
   height: 100%;
   width: 200%;
   position: relative;
   background: url("../img/mag4.jpg");
   background-size: 350px !important;
   left: -100%;
   }
 
   .pages_page__inner {
   background-size: 350px !important;
   height: 100%;
   transform-style: preserve-3d;
   }
   .pages_page__inner .control {
   position: absolute;
   z-index: 1;
   width: 25px;
   height: 25px;
   border: 1px solid black;
   border-radius: 100px;
   top: 52%;
   transform: translateY(-50%);
   left: 5px;
   cursor: pointer;
   transition: all 0.23s;
   }
   .pages_page__inner .control:after {
   content: "<";
   display: block;
   position: absolute;
   left: 6px;
   top: 50%;
   transform: translateY(-50%);
   transition: all 0.2s;
   }
 
   .pages_page__inner .control.next {
   left: auto;
   right: 5px;
   }
   .pages_page__inner .control.next:before {
   left: auto;
   right: -33px;
   }
   .pages_page__inner .control.next:after {
   transform: rotate(180deg);
   top: 3px;
   left: 8px;
   pointer-events: none;
   }
   .pages_page__inner .control label {
   z-index: 2;
   width: 100%;
   height: 100%;
   position: absolute;
   cursor: pointer;
   }
 
   .pages_page__inner .content {
   transform-style: preserve-3d;
   position: absolute;
   z-index: 1;
   pointer-events: none;
   top: 0;
   transform: translateZ(0px);
   width: 100%;
   height: 100%;
   }
 
 
   .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div {
   pointer-events: all;
   transform: rotateY(-180deg);
   z-index: 10;
   transition: var(--transition);
   }
 
 
   .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div {
   pointer-events: all;
   transform: rotateY(-180deg);
   z-index: 10;
   transition: var(--transition);
   }
 
   .pages input[type=radio]:nth-of-type(3):checked + input + div + div {
   pointer-events: all;
   transform: rotateY(-180deg);
   z-index: 10;
   transition: var(--transition);
   }


   .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid;
    padding-top: 10px;
}


.profil{
    width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    width: 20%;
}

.profil img {
            width: 60%;
            filter: drop-shadow(2px 4px 6px black);
            border-radius: 100px;
}

.info{
    display: flex;
    margin: 0px 0px 0px 15px;
}

.info ol {
    list-style: none; 
    margin: 3px 0px 3px -10px;
    padding-left: 30px;
}

.profil button{
    background-color: black;
    border-radius: 20px;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 130px;
    margin-top: 10px;
}
.profil button a{text-decoration: none;color: white;font-family: time new roman;}

.profil button:hover{cursor: pointer; background-color: #1E2506;}

.menu{
    width: 55%;
    
}

.menu ul{
    list-style-type: none;
    padding-inline-start: 0;
}


.menu ul li{
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
}

.menu ul::after{
    content: "";
    display: table;
    clear: both;
}

.menu a{
    display: block;
    text-decoration: none;
    
}

.menu a{
    color: royalblue;
    border-bottom: 2px solid gold;
}

.sous{
    /* display: none; */
    z-index: 1000;
    flex-direction: column;
}
.menu > ul li .sous{
    display: flex;
    align-items: flex-end;
    
}
.menu > ul li .sous li{
    float: none;
    width: 100%;
    text-align: center;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}







footer{
    width: 100%;
    height: 250px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

footer .logo {
    width: 120px;
    height: 200px;
    position: relative;
    left: 30px;
}
footer nav{
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer nav ul{
    width: 400px;
    font-size: xx-large;
    color: black;
}

footer nav li{
    list-style: none;
}

footer nav li a{
    text-decoration: none;
    color: black;
}

#scroll_to_top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    border-radius: 25px;
    right: 5px;
}
#scroll_to_top img {width: 50px;}

@media all and (max-width: 700px) 
{   
    header{justify-content: space-around;}

    header nav{
        right: 0px;
    }

    header nav a{
        width: 100px;
        font-size: large;
    }
}



@media screen and (max-width: 400px){

    #slide{
        height: 11% !important;
        width: 160% !important;
        left: 60% !important;
        margin-top: 0 !important;
            }
    #portfolio{
        display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    }
}

@media screen and (max-width: 1024px){

    body{
        width: 100%;
        position: absolute;
        left: -7px;
        overflow-x: hidden;
    }

    

    .fond{
        height: 330px;
    }

    .titre{
        scale: 0.8;
        justify-content: space-evenly;
    }

    #portfolio{
        display: flex;
        flex-direction: column;
        height: 236vh;
        flex-wrap: nowrap;
        /* justify-content: flex-start; */
    }
    
    
    .slider{
        left: 70px;
    }

    #slide{
        
        margin-top: 40px;
        height: 260px;
        width: 100%;
    }

    .pages{
        width: 350px;
    height: 248px;
    top: 55%;
    left: 5%;
    }

    .pages_page:nth-of-type(1) .pages_page__inner {
        background-size: 175px !important;
    }

    .pages_page:nth-of-type(2) .pages_page__inner {
        background-size: 175px !important;
    }

    .pages_page__inner {
        background-size: 175px !important;
    }

    .pages_page:nth-of-type(4) .pages_page__inner .bg {
        background-size: 175px !important;
    }

    .pages_page__inner .control {
        width: 10px;
        height: 10px;
    }

    .pages_page__inner .control.next:after {
        top: -3px;
        left: 3px;
        font-size: x-small;
    }

    .pages_page__inner .control:after {
        left: 1px;
        font-size: x-small;
    }

    .CG {
        
        display: flex;
        
        flex-direction: column;
    }

   

    .main{
        flex-direction: column;
        height: 100%;
        align-items: center;
        position: relative;
        
    }

    .contact{
        width: 60%;
    }

    .contact ul{
        width: 193px;
        padding-inline-start: 0px;}


    .menu ul li {
        width: 100%;
    }
    .menu a:hover {
        color: orange;
        border-bottom: 2px solid gold;

    }

    footer {
        flex-direction: column;
        height: 400px;
        position: relative;
        display: flex;
    }

    footer .logo{
        left: -5px;
        top: 5px;
        width: 90px;
        height: 160px;
    }

    footer nav{
        flex-direction: column;
        scale: 0.8;
        left: 50px;
        
    }
    footer nav ul{
        width: 300px;
        padding-inline-start: 0px;}

        #scroll_to_top {
            right: inherit;
        }
}
